<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Casual Quiz</title>
        <link rel="stylesheet" th:href="@{/css/casual.css}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <div class="quiz-card">
            <span class="level-label" th:text="'LEVEL ' + ${riddle.level}">
                LEVEL 1
            </span>

            <div class="question-box" th:text="${riddle.question}">
                ここに問題文が表示されます
            </div>

            <!-- 50音表を使ったの問題 -->
            <div th:replace="fragments/casual/quiz_types_gojuon :: gojuon_section"></div>

            <!-- 動く解答欄の問題 -->
            <div th:replace="fragments/casual/quiz_types_moving :: moving_section"></div>

            <!-- トグルスイッチの問題 -->
            <div th:replace="fragments/casual/quiz_types_toggle :: toggle_section"></div>

            
            <!-- その他の問題タイプの解答欄 -->
            <div th:if="${riddle.type != 'moving'}" class="answer-section">
                <form th:action="@{/casual/quiz/check}" method="post" id="quizForm">
                    <input type="hidden" name="id" th:value="${riddle.id}" />
                    <!-- 階段の問題 -->
                    <div th:replace="fragments/casual/quiz_types_stairs :: stairs_section"></div>

                    <!-- セレクトボックスの問題 -->
                    <div th:replace="fragments/casual/quiz_types_select :: select_section"></div>

                    <!-- 選択肢系の問題 -->
                    <div th:replace="fragments/casual/quiz_types_choice :: choice_section"></div>

                    <!-- 長押し系の問題 -->
                    <div th:replace="fragments/casual/quiz_types_longpress :: longpress_section"></div>

                    <!-- ライトON/OFFの問題 -->
                    <div th:replace="fragments/casual/quiz_types_lights :: lights_section"></div>

                    <!-- キーボードの問題 -->
                    <div th:replace="fragments/casual/quiz_types_keyboard :: keyboard_section"></div>

                    <!-- ショートカットキーの問題 -->
                    <div th:replace="fragments/casual/quiz_types_shortcut :: shortcut_section"></div>

                    <!-- テキスト入力欄 -->
                    <div th:replace="fragments/casual/quiz_input_area :: input_area_section"></div>
                </form>
            </div>

            <div class="navigation-links">
                <a class="return-list" th:href="@{/casual/list}">一覧に戻る</a>
            </div>
        </div>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>
