<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="input_area_section">
        <!-- テキスト入力欄を表示する条件 -->
        <div class="input-area" 
            th:if="${riddle.type == 'text' || riddle.type == 'gojuon' || riddle.type == 'toggle' || riddle.type == 'duallongpress'}">
            <input type="text" name="answer" class="casual-input" placeholder="ここに答えを入れてな" required />
        </div>

        <!-- 送信ボタンを表示する条件 -->
        <div th:if="${riddle.type != 'choice' && riddle.type != 'longpress' && riddle.type != 'duallongpress' && riddle.type != 'lights'}" 
            class="submit-button-container">
            <button type="submit" class="btn-base btn-submit" id="submitBtn" th:data-type="${riddle.type}">
                送信！
            </button>
        </div>

        <!-- 隠しフィールド: JavaScriptからの回答入力用 -->
        <div th:if="${riddle.type == 'slider' || riddle.type == 'stairs'}">
            <input type="hidden" name="answer" id="answerInput">
         </div>
    </div>
</body>
</html>