<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: common-head('Mission List')}"></head>

<body>
    <header th:replace="~{common/header :: common-header}"></header>

    <div class="container">
        <h2>SELECT TARGET</h2>
        <p>侵入するサーバーを選択してください</p>
        <br>

        <div th:each="r : ${riddles}" class="mission-box">
            <h3 th:text="'LEVEL ' + ${r.id}">LEVEL X</h3>
            
            <p th:text="'難易度: ' + ${r.difficultyIcon}">難易度: ★★★☆☆</p>
            
            <a th:href="@{/hacker/quiz/{id}(id=${r.id})}">
                <button>START HACKING</button>
            </a>
        </div>

        <div class="back-to-forward">
            <a th:href="@{/}">&lt;&lt; Back to Top</a>
        </div>
    </div>
</body>
</html>